<div data-spollers data-one-spoller class="spollers">
  <div class="spollers__item">
    <button tabindex="1" type="button" data-spoller class="spollers__title">
      обычный спойлер
    </button>
    <div class="spollers__text"></div>
  </div>
  <div class="spollers__item">
    <button tabindex="1" type="button" data-spoller class="spollers__title">
      обычный спойлер
    </button>
    <div class="spollers__text"></div>
  </div>
</div>
<div data-spollers="600, min" class="spollers">
  <div class="spollers__item">
    <button tabindex="1" type="button" data-spoller class="spollers__title">
      спойлер работает на экранах = 600px
    </button>
    <div class="spollers__text"></div>
  </div>
</div>
<div data-spollers="800, max" class="spollers">
  <div class="spollers__item">
    <button tabindex="1" type="button" data-spoller class="spollers__title">
      спойлер 2 работает на экранах = 800px
    </button>
    <div class="spollers__text"></div>
  </div>
</div>
