<div data-popup="popup-login" aria-hidden="true" class="popup popup-login">
  <div data-popup-wrapper class="popup__wrapper">
    <div data-popup-body class="popup__body">
      <button
        data-popup-close
        type="button"
        class="popup__close"
        aria-label="Close popup"
        title="Close popup"
      >
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30 10L10 30"
            stroke="#181C29"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 10L30 30"
            stroke="#181C29"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div data-popup-content class="popup-login__content login">
        <div class="login__title">
          <span>Log In</span>
          <span>Join Now</span>
        </div>
        <div class="login__switcher" data-side="front">
          <button class="login__switcher-toggle" type="button"></button>
        </div>
        <div class="login__card">
          <div class="login__card-wrapper">
            <div class="login__card-side login__card-front">
              <div class="login__center-wrap">
                <form action="#" class="login__form">
                  <h3 class="login__card-title">Log In</h3>
                  <div class="field">
                    <label class="field__label" for="login">Login</label>
                    <input
                      class="field__input"
                      id="login"
                      name="login"
                      type="text"
                      placeholder=" "
                      autocomplete="username"
                      required
                      minlength="3"
                    />
                  </div>
                  <div class="field">
                    <label class="field__label" for="password">Password</label>
                    <input
                      class="field__input"
                      id="password"
                      name="password"
                      type="password"
                      placeholder=" "
                      autocomplete="current-password"
                      required
                      minlength="6"
                    />
                  </div>
                  <button type="submit" class="login__button button button-min">
                    Log In
                  </button>
                </form>
                <a href="/" class="login__link">Forget password</a>
              </div>
            </div>
            <div class="login__card-side login__card-back">
              <div class="login__center-wrap">
                <form action="#" class="login__form">
                  <h3 class="login__card-title">Join Now</h3>
                  <div class="field">
                    <label class="field__label" for="name">Name</label>
                    <input
                      class="field__input"
                      id="name"
                      name="name"
                      type="text"
                      placeholder=" "
                      autocomplete="name"
                      required
                    />
                  </div>
                  <div class="field">
                    <label class="field__label" for="email">Email</label>
                    <input
                      class="field__input"
                      id="email"
                      name="email"
                      type="email"
                      placeholder=" "
                      autocomplete="email"
                      required
                    />
                  </div>
                  <button type="submit" class="login__button button button-min">
                    Join Now
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
